<header class ="header">
    <h1>Tiny APP</h1>
</header>

   
    <% if(currentUser !== undefined){ %>
    <h3> Hello <%= currentUser.email %></h3>
    <h4><form method="POST" action ="/logout?_method=DELETE">
    <input type="submit" value="LogOut">
    </form>
    </h4>
   <% } else{ %>  
        <form method="GET" action="/register">
            <button type="submit" value="Register">Register</button>
        </form>
        <form method="GET" action="/login">
        
            <button type="submit" value="SignIn">Sign In</button>
    </form>
    <% } %>

