
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
        <form action="/login" method="POST" style="margin:150px;">
            <label for=" ">Email</label> <input type="email" name="email" />
            <label for=" ">Password</label> <input type="password" name="password" />
            <input type="submit" value="Submit" />
          </form>
       
        <button><a style="text-decoration: none;" href="/register">Register</a></button>
</body>





