   <header>
      <% include partials/_header %>
    </header>

<ul>
<h1> ShortURL: <%= shortURL %> </h1>

   <form method="POST" action="/urls/<%= shortURL %>/update">
   <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <button type="submit" value="Update">Update</button>
   </form>
</ul>