 
      <% include partials/_header %>
   

<ul>
<h1> ShortURL: <%= shortUrl %> </h1>

   <form method="POST" action="/urls/<%= shortUrl %>/update">
   <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
        <button type="submit" value="Update">Update</button>
   </form>
</ul>